

<%= form_tag(search_path, :method => :get) do %>
<%= label_tag(:message, "Message ") %>
<%= text_field_tag(:message) %>
<%= submit_tag("Search") %>
<% end %>

<br>

nombre totalde notes <%= @count %>
<%= link_to "new", new_path %>

</p>


<tr>
<% @notes.each do |n| %>
<td><%= n.id %></td>
<td><%= n.user %></td>
<td><%= n.content %></td>
<td><%= link_to "show", note_path(n.id) %></td>
<td><%= link_to "edit", edit_path(n.id) %></td>
<td><%= link_to "destroy", note_path(n.id), :method => :delete %></td>
<br>
<% end %>
</tr>


<br>

<%= @count %>

<br>


